

.location
{
  background-color: rgb(0, 0, 0);
  width: 100vw;   /* tam ekran eni */
  height: auto;  /* tam ekran hündürlüyü */
  margin: 0;
  padding: 0;
  overflow: hidden; /* artıq hissələri gizlə */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
    margin-top: 50px;
}



.info
{
  width: 50%;
  height: 80vh;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  display: flex;
  color: white;
}


.hours
{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text
{
    width: 100%;
  display: flex;
  flex-direction: column;
}


.map
{
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content:center;
  color: white;
}


.loaderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  color: white;
}



@media (max-width: 576px) {

  .location {
    height: auto; /* 100vh əvəzinə */
    padding-bottom: 40px; /* altda bir az boşluq */
  
  }

  .mediaQuery {
    flex-direction: column;
  }

  .info {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .map {
    width: 100%;
    height: 300px; /* daha kiçik ölçü */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map iframe {
    width: 100%;
    height: 100%;
  }
}
