.container
{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* @media (max-width: 576px) { */
  /* .footer { */
    /*  */
  /* } */
/* } */


