/* layout.module.css */
.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* bütün elementlər eyni eni alsın */
  /* min-height: 100vh; */
  justify-content: center;
  
 
}

.header,
.main,
.footer {
  width: 100%; /* max-width silinsin */
  margin: 0;
  box-sizing: border-box;
}



.main {
  margin-top: 104px;
    margin-bottom: 50px;
  /* flex: 1; */

}
