.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: black;
  color: white;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footerVisible {
  opacity: 1;
  transform: translateY(0);
}

.mediaQuery
{
   width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}



.address {
  color: white;
  font-family: 'Albert Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-decoration: none;
  height: 100%;


  
}

.socialLinks {

  display: flex;
  flex-direction: column;

}

.addres_info
{
  display: flex;
  gap: 4px;
   
}

.address p {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff6600;
}


.socialLinks a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s;
  margin-top: 15px;
  padding: 0px 11px;
}

.socialLinks a:hover {
  color: #ff6600;
}

.icon {
  transition: transform 0.3s;
}

.socialLinks a:hover .icon {
  transform: translateY(-2px);
}

.copyright {
  color: white;
  font-family: 'Albert Sans', sans-serif;
  display: flex;
  justify-content: center;
  
}

.mobile{
  display: none;
  width: 100%;
}




/* Media query */



@media (min-width: 768px) { 


  
 }

@media (max-width: 576px) {


  .mediaQuery
  {
     align-items: self-start;
     justify-content: space-between;
  }
  .addres_info
{
  display: flex;
flex-direction: column;
  gap: 4px;
   
}

.addres_info .instagram, .facebook, .youtube {
  font-size: 22px;

}

  .mobile{
    display: flex;
    align-items: start;
    justify-content: space-around;

  }

.address_mobile
{

  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}


  .footer {
    height: auto;
    /* padding: 10px 0; */
  }

  .address h2 {
    font-size: 14px;
  }

  .address p,
  .socialLinks a {
    font-size: 12px;
  }

  .socialLinks a {
    margin-top: 8px;
  }

  .icon {
    width: 14px;
    height: 14px;
  }

  .copyright {
    font-size: 10px;
    padding: 5px;
    text-align: center;
  }
}




