

.main-menu {
  width: 100vw;
  /* tam ekran eni */
  height: auto;
  /* tam ekran hündürlüyü */
  margin: 0;
  padding: 150px 0px;
  overflow: hidden;
  /* artıq hissələri gizlə */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
}

.main-menu h1 {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 200;
  margin: 50 auto 10px;
  color: #fff;
  font-size: 28px;
  text-shadow: 0 0 100px 0 rgb(124, 18, 18);
  
}

.pages {
    margin-top: 100px;
    width: 90%;
    margin: 10px  50px;
    display: flex;
    flex-direction: column;
}

.pages h2 {
    margin: 25px auto 20px;
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 100px 0 rgb(124, 18, 18);
}

.pages-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
}

/* 50% pages style */
.pages-item {
    width: 48%;
    min-height: 150px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.page-blur {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.page-blur h3,
.page-blur a {
    color: #fff;
    font-family: "BBH Sans Bartle", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

/* 100% pages style */
.pages-item-full {
    width: 100%;
    min-height: 150px;
    border-radius: 15px;
}

.page-blur-full {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.page-blur-full h3,
.page-blur-full a {
    color: #fff;
    font-family: "BBH Sans Bartle", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}



/* Responsive medya sorguları */
@media (max-width: 1024px) {
    .pages-item {
        width: 48%; /* Tablet için iki sütun */
    }
}

@media (max-width: 768px) {
    .pages-item {
        width: 100%; /* Mobil için tek sütun */
    }
    .pages-menu {
        gap: 15px 0;
    }
}

@media (max-width: 480px) {

    .main-menu
    {

  padding: 0px;


    }
    .pages h2 {
        font-size: 18px;
    }
    .page-blur,
    .page-blur-full {
        height: 150px;
    }
    .page-blur h3,
    .page-blur a,
    .page-blur-full h3,
    .page-blur-full a {
        font-size: 14px;
    }
}

/* Arka plan görselleri */
.burgers { background: url("/menu_new/burgers.jpeg") center/cover no-repeat; border-radius: 15px; }
.sandwich { background: url("/menu_new/sandwich.jpeg") center/cover no-repeat; border-radius: 15px; }
.snacks { background: url("/menu_new/snacks.jpeg") center/cover no-repeat; border-radius: 15px; }
.snack-sets { background: url("/menu_new/snack-set.jpeg") center/cover no-repeat; border-radius: 15px; }
.tequila { background: url("/menu_new/Tequila.jpeg") center/cover no-repeat; border-radius: 15px; }
.liquor { background: url("/menu_new/liquor.jpeg") center/cover no-repeat; border-radius: 15px; }
.aperitif { background: url("/menu_new/aperitif.jpeg") center/cover no-repeat; border-radius: 15px; }
.gin { background: url("/menu_new/gin.jpeg") center/cover no-repeat; border-radius: 15px; }
.vodka { background: url("/menu_new/vodka.jpeg") center/cover no-repeat; border-radius: 15px; }
.vermouth { background: url("/menu_new/vermouth.jpeg") center/cover no-repeat; border-radius: 15px; }
.whiskey { background: url("/menu_new/whiskey.jpeg") center/cover no-repeat; border-radius: 15px; }
.rum { background: url("/menu_new/rum.jpeg") center/cover no-repeat; border-radius: 15px; }
.wine { background: url("/menu_new/wine.jpeg") center/cover no-repeat; border-radius: 15px; }
.cocktails { background: url("/menu_new/cocktails.jpeg") center/cover no-repeat; border-radius: 15px; }
.shots { background: url("/menu_new/shots.jpeg") center/cover no-repeat; border-radius: 15px; }
.shot-sets { background: url("/menu_new/shot_sets.jpeg") center/cover no-repeat; border-radius: 15px; }
.non-alcoholic-cocktails { background: url("/menu_new/non_alcoholic_drinks.jpeg") center/cover no-repeat; border-radius: 15px; }
.jack-daniels-cocktails { background: url("/menu_new/jack_daniel_cocktails.jpeg") center/cover no-repeat; border-radius: 15px; }
.beers { background: url("/menu_new/beers.jpeg") center/cover no-repeat; border-radius: 15px; }
.soft-drinks { background: url("/menu_new/soft_drinks.jpeg") center/cover no-repeat; border-radius: 15px; }
.salads { background: url("/menu_new/salads.jpeg") center/cover no-repeat; border-radius: 15px; }
.bruschettas { background: url("/menu_new/bruschetta.jpeg") center/cover no-repeat; border-radius: 15px; }
.freshadditions { background: url("/menu_new/fresh_additions.jpeg") center/cover no-repeat; border-radius: 15px; }
