.menu {
  width: 100vw;
  /* tam ekran eni */
  height: auto;
  /* tam ekran hündürlüyü */
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* artıq hissələri gizlə */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  color: white;
}

.menu h1 {
  position: absolute;
  align-items: center;
  display: flex;
  color: rgb(255, 255, 255);
  z-index: 1000;
  top: 25%;
  font-size: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}




.swiper {
  width: 100%;
  height: 480px;
}

.swiperslide {
  width: 100%;
  height: 100%;

}

.swiperslide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.customPrevButton {
  position: absolute;
  top: 40%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
  color: #fff;
  /* background-color: rgb(105, 105, 105); */
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.customNextButton {
  position: absolute;
  top: 40%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
  color: #fff;
  /* background-color: rgb(105, 105, 105); */
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.tabs {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;



}

.tabButton {
  width: 35%;
  height: 50px;
  align-items: center;
  border: 1px solid ivory;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  color: white;
  justify-content: center;
  padding: .25rem 1.5rem;
  text-decoration: none;
  font-size: 16px;
}

.tabButton:hover {
  background-color: #fcdd6f;
  color: black;
}

.activeTab {
  background: rgb(255, 255, 255);
  color: white;
  border-color: black;
  color: black;
}

.menuItems {
  width: 50%;
  height: auto;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  border: 2.5px solid white;
}

.menuItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
}


.description
{
  font-size: 18px;
}
.price
{
  font-size: 18px;
}


@media (max-width: 576px) {


  .menu h1 {
    display: none;
  }


  .customPrevButton {
    left: 0px;
  }


  .customNextButton {

    right: 0px;
  }

.tabs {
  width: 100%;
}
  .menuItems
  {
    width: 100%;
  }
}