

.delivery
{
          background-color: rgb(255, 111, 226);
  width: 100vw;   /* tam ekran eni */
  height: 100vh;  /* tam ekran hündürlüyü */
  margin: 0;
  padding: 0;
  overflow: hidden; /* artıq hissələri gizlə */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}